* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0 auto;
}

canvas {
    width: 85% !important;
    height: 100% !important;
}

/* @media (max-height: 300px) {
    #game-container {
        display: flex;
        align-items: center;
    }

    canvas {
        height: 100% !important;
    }

    body {
        display: flex;
        justify-content: center;
    }
} */