* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0 auto;
}

@media only screen and (max-height: 650px) {
    #game-container {
        width: auto !important;
    }

    body {
        display: flex;
        justify-content: center;
    }
}